:root {
  --bg: #1a1a1a;
  --fg: #edf1e8;
  --base-100: #fff;
  --base-200: #3a3a3a;
  --base-300: #000;
  /* for FlipCard */
  --dark: #000;
  --light: #f9f4eb;
  --light2: #f0ece5;
  --accent-1: #e5d9f6;
  --accent-2: #ffd2f3;
  --accent-3: #fcdca6;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}
.copy {
  font-size: 1.1rem;
  font-weight: 500;
  /* color: #000; */
}
.label {
  text-transform: uppercase;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}
.navbar {
  position: absolute;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.logo .label,
.menuBtn .label {
  font-size: 0.8rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
}
.logo .label {
  background-color: var(--dark);
  color: var(--light);
}
.menuBtn .label {
  background-color: var(--light2);
  color: var(--dark);
}
.section {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 2rem;
  overflow: hidden;
}
.hero {
  background-color: var(--light);
  color: var(--dark);
}
.about,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
}
.heroCards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  display: flex;
  justify-content: center;

  gap: 1rem;
}
.heroCards .card {
  flex: 1;
  position: relative;
  aspect-ratio: 5/7;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.heroCards .card .label {
  font-size: 0.75rem;
}
.heroCard1 {
  background-color: var(--accent-1);
  transform-origin: top-right;
  z-index: 2;
}
.heroCard2 {
  background-color: var(--accent-2);
  z-index: 1;
}
.heroCard3 {
  background-color: var(--accent-3);
  transform-origin: top-left;
  z-index: 0;
}

.services {
  padding: 8rem 2rem;
}

.servicesHeader {
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(400%);
  will-change: transform;
}

.cards {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  background-color: var(--light);
}
/* .section {
  position: relative;
  padding: 2rem;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.hero {
  background-color: var(--light) !important;
  color: var(--dark);
  position: relative;
}

.about,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
}
.heroCards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.heroCards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 0.75rem;
  border-radius: 0.5rem;
  aspect-ratio: 5/7;
  position: relative;
}
.cardTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.heroCards .card .label {
  font-size: 0.7rem;
}
.heroCard1 {
  background-color: var(--accent-1);
  transform-origin: top-right;
  z-index: 2;
}
.heroCard2 {
  background-color: var(--accent-2);
  z-index: 1;
}
.heroCard3 {
  background-color: var(--accent-3);
  transform-origin: top-left;
  z-index: 0;
}

.services {
  padding: 8rem 2rem;
}

.servicesHeader {
  position: relative;
  width: 100%;
  text-align: center;
  transform: translateY(400%);
  will-change: transform;
  mix-blend-mode: difference;
} */

/* .cards {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  background-color: var(--light);
}
.cardsContainer {
  position: absolute;
  top: 400;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
} */
/* .cardsContainer {
  position: relative;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
} */
/* .cardsContainer .card {
  flex: 1;
  position: relative;
  aspect-ratio: 5/7;
  perspective: 1000px;
}
.cardsContainer .card .cardWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  animation: floating 2s infinite ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -55%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.flipCard1 .cardWrapper {
  animation-delay: 0s;
}
.flipCard2 .cardWrapper {
  animation-delay: 0.25s;
}
.flipCard3 .cardWrapper {
  animation-delay: 0.5s;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
  overflow: hidden;
}
.flipCardFront {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flipCard1 .flipCardFront {
  background-color: var(--accent-1);
}
.flipCard2 .flipCardFront {
  background-color: var(--accent-2);
}
.flipCard3 .flipCardFront {
  background-color: var(--accent-3);
}
.flipCardBack {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  background-color: #fff;
  transform: rotateY(180deg);
}
.cardCopy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cardCopy .label {
  font-size: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.flipCard1 {
  transform: translateX(100%) translateY(-100%) rotate(-5deg) scale(0.25);
  z-index: 2;
}
.flipCard2 {
  transform: translateX(0%) translateY(-100%) rotate(0deg) scale(0.25);
  z-index: 1;
}
.flipCard3 {
  transform: translateX(-100%) translateY(-100%) rotate(5deg) scale(0.25);
  z-index: 0;
} */
/* .cardsContainer .card {
  opacity: 0;
} */
