/* @import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"); */
@import "tailwindcss";

:root {
  --bg: #1a1a1a;
  --fg: #edf1e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Bricolage Grotesque", sans-serif;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }
}
p {
  font-size: 1rem;
}
